In [1]:
%reload_ext autoreload
%autoreload 2

In [12]:
import pandas as pd
from collections import namedtuple
from toolz import first
import numpy as np
from nbc_analysis.utils.debug_utils import runit
from nbc_analysis.utils.config_utils import get_config
from pathlib import Path
from nbc_analysis.utils.file_utils import read_parquet

from test_cr_cal_dims import test_cr_cal_dims, _get_config
#from nbc_analysis.utils.date_utils import ds_dt2uts_ms, ds_uts_ms2dt, dt2uts_ms, uts_ms2dt

In [111]:
config = _get_config()
config

{'calendar': {'start_day_key': 20170101,
  'end_day_key': 20210101,
  'calendar_d': PosixPath('/Users/wmcabee/DATA/NBC/calendar')},
 'demographics': {'demographics_d': PosixPath('/Users/wmcabee/DATA/NBC/demographics'),
  'zip2income_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/ACS_17_5YR_S2503_with_ann.csv'),
  'subnet2zip_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/GeoLite2-City-CSV_20191001.zip')},
 'normalize': {'test_input_d': PosixPath('/Users/wmcabee/DATA/NBC/work/query'),
  'normalize_d': PosixPath('/Users/wmcabee/DATA/NBC/normalize')}}

In [112]:
df = runit(test_cr_cal_dims)

2019-10-23 12:31:41,277|INFO|nbc_analysis.calendar.cr_cal_dims.main|start cr_cal_dims,cfg={'start_day_key': 20170101, 'end_day_key': 20210101, 'calendar_d': PosixPath('/Users/wmcabee/DATA/NBC/calendar')}
2019-10-23 12:31:41,285|INFO|nbc_analysis.calendar.cr_cal_dims.main|event generate day calendar
2019-10-23 12:31:43,028|INFO|nbc_analysis.utils.file_utils|start write file,/Users/wmcabee/DATA/NBC/calendar/days_dim.parquet,record_cnt=1461
2019-10-23 12:31:43,036|INFO|nbc_analysis.utils.file_utils|end write file,/Users/wmcabee/DATA/NBC/calendar/days_dim.parquet,record_cnt=1461
2019-10-23 12:31:43,036|INFO|nbc_analysis.calendar.cr_cal_dims.main|event generate local day calendar
2019-10-23 12:31:43,038|INFO|nbc_analysis.utils.file_utils|start write file,/Users/wmcabee/DATA/NBC/calendar/days_loc_dim.parquet,record_cnt=1461
2019-10-23 12:31:43,047|INFO|nbc_analysis.utils.file_utils|end write file,/Users/wmcabee/DATA/NBC/calendar/days_loc_dim.parquet,record_cnt=1461
2019-10-23 12:31:43,048|INFO|nbc_analysis.calendar.cr_cal_dims.main|event generate hour in week
2019-10-23 12:31:43,088|INFO|nbc_analysis.utils.file_utils|start write file,/Users/wmcabee/DATA/NBC/calendar/hour_in_day_dim.parquet,record_cnt=168
2019-10-23 12:31:43,092|INFO|nbc_analysis.utils.file_utils|end write file,/Users/wmcabee/DATA/NBC/calendar/hour_in_day_dim.parquet,record_cnt=168
2019-10-23 12:31:43,092|INFO|nbc_analysis.calendar.cr_cal_dims.main|end cr_cal_dims

In [113]:
with pd.option_context('max_rows', None):
    display(df[:30])

,day_key,ordinal,day,month,year,dayofweek,day_name,week_day,month_name,days_in_month,...,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,start_time,end_time,start_uts_ms,end_uts_ms
0,20170101,17167,1,1,2017,6,Sunday,week end,January,31,...,1,0,1,0,1,0,2017-01-01T00:00:00,2017-01-02T00:00:00,1483228800000,1483315200000
1,20170102,17168,2,1,2017,0,Monday,week day,January,31,...,0,0,0,0,0,0,2017-01-02T00:00:00,2017-01-03T00:00:00,1483315200000,1483401600000
2,20170103,17169,3,1,2017,1,Tuesday,week day,January,31,...,0,0,0,0,0,0,2017-01-03T00:00:00,2017-01-04T00:00:00,1483401600000,1483488000000
3,20170104,17170,4,1,2017,2,Wednesday,week day,January,31,...,0,0,0,0,0,0,2017-01-04T00:00:00,2017-01-05T00:00:00,1483488000000,1483574400000
4,20170105,17171,5,1,2017,3,Thursday,week day,January,31,...,0,0,0,0,0,0,2017-01-05T00:00:00,2017-01-06T00:00:00,1483574400000,1483660800000
5,20170106,17172,6,1,2017,4,Friday,week day,January,31,...,0,0,0,0,0,0,2017-01-06T00:00:00,2017-01-07T00:00:00,1483660800000,1483747200000
6,20170107,17173,7,1,2017,5,Saturday,week end,January,31,...,0,0,0,0,0,0,2017-01-07T00:00:00,2017-01-08T00:00:00,1483747200000,1483833600000
7,20170108,17174,8,1,2017,6,Sunday,week end,January,31,...,0,0,0,0,0,0,2017-01-08T00:00:00,2017-01-09T00:00:00,1483833600000,1483920000000
8,20170109,17175,9,1,2017,0,Monday,week day,January,31,...,0,0,0,0,0,0,2017-01-09T00:00:00,2017-01-10T00:00:00,1483920000000,1484006400000
9,20170110,17176,10,1,2017,1,Tuesday,week day,January,31,...,0,0,0,0,0,0,2017-01-10T00:00:00,2017-01-11T00:00:00,1484006400000,1484092800000
10,20170111,17177,11,1,2017,2,Wednesday,week day,January,31,...,0,0,0,0,0,0,2017-01-11T00:00:00,2017-01-12T00:00:00,1484092800000,1484179200000
11,20170112,17178,12,1,2017,3,Thursday,week day,January,31,...,0,0,0,0,0,0,2017-01-12T00:00:00,2017-01-13T00:00:00,1484179200000,1484265600000
12,20170113,17179,13,1,2017,4,Friday,week day,January,31,...,0,0,0,0,0,0,2017-01-13T00:00:00,2017-01-14T00:00:00,1484265600000,1484352000000
13,20170114,17180,14,1,2017,5,Saturday,week end,January,31,...,0,0,0,0,0,0,2017-01-14T00:00:00,2017-01-15T00:00:00,1484352000000,1484438400000
14,20170115,17181,15,1,2017,6,Sunday,week end,January,31,...,0,0,0,0,0,0,2017-01-15T00:00:00,2017-01-16T00:00:00,1484438400000,1484524800000
15,20170116,17182,16,1,2017,0,Monday,week day,January,31,...,0,0,0,0,0,0,2017-01-16T00:00:00,2017-01-17T00:00:00,1484524800000,1484611200000
16,20170117,17183,17,1,2017,1,Tuesday,week day,January,31,...,0,0,0,0,0,0,2017-01-17T00:00:00,2017-01-18T00:00:00,1484611200000,1484697600000
17,20170118,17184,18,1,2017,2,Wednesday,week day,January,31,...,0,0,0,0,0,0,2017-01-18T00:00:00,2017-01-19T00:00:00,1484697600000,1484784000000
18,20170119,17185,19,1,2017,3,Thursday,week day,January,31,...,0,0,0,0,0,0,2017-01-19T00:00:00,2017-01-20T00:00:00,1484784000000,1484870400000
19,20170120,17186,20,1,2017,4,Friday,week day,January,31,...,0,0,0,0,0,0,2017-01-20T00:00:00,2017-01-21T00:00:00,1484870400000,1484956800000
20,20170121,17187,21,1,2017,5,Saturday,week end,January,31,...,0,0,0,0,0,0,2017-01-21T00:00:00,2017-01-22T00:00:00,1484956800000,1485043200000
21,20170122,17188,22,1,2017,6,Sunday,week end,January,31,...,0,0,0,0,0,0,2017-01-22T00:00:00,2017-01-23T00:00:00,1485043200000,1485129600000
22,20170123,17189,23,1,2017,0,Monday,week day,January,31,...,0,0,0,0,0,0,2017-01-23T00:00:00,2017-01-24T00:00:00,1485129600000,1485216000000
23,20170124,17190,24,1,2017,1,Tuesday,week day,January,31,...,0,0,0,0,0,0,2017-01-24T00:00:00,2017-01-25T00:00:00,1485216000000,1485302400000
24,20170125,17191,25,1,2017,2,Wednesday,week day,January,31,...,0,0,0,0,0,0,2017-01-25T00:00:00,2017-01-26T00:00:00,1485302400000,1485388800000
25,20170126,17192,26,1,2017,3,Thursday,week day,January,31,...,0,0,0,0,0,0,2017-01-26T00:00:00,2017-01-27T00:00:00,1485388800000,1485475200000
26,20170127,17193,27,1,2017,4,Friday,week day,January,31,...,0,0,0,0,0,0,2017-01-27T00:00:00,2017-01-28T00:00:00,1485475200000,1485561600000
27,20170128,17194,28,1,2017,5,Saturday,week end,January,31,...,0,0,0,0,0,0,2017-01-28T00:00:00,2017-01-29T00:00:00,1485561600000,1485648000000
28,20170129,17195,29,1,2017,6,Sunday,week end,January,31,...,0,0,0,0,0,0,2017-01-29T00:00:00,2017-01-30T00:00:00,1485648000000,1485734400000
29,20170130,17196,30,1,2017,0,Monday,week day,January,31,...,0,0,0,0,0,0,2017-01-30T00:00:00,2017-01-31T00:00:00,1485734400000,1485820800000

In [102]:
calendar_d = Path(config['calendar']['calendar_d'])
list(calendar_d.glob('*'))

[PosixPath('/Users/wmcabee/DATA/NBC/calendar/days_dim_loc.parquet'),
 PosixPath('/Users/wmcabee/DATA/NBC/calendar/days_dim.parquet')]

In [15]:
df = read_parquet(name='days_dim_loc', indir=calendar_d)

df.head().T

2019-10-23 09:14:17,653|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/calendar/days_dim.parquet
2019-10-23 09:14:17,664|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/calendar/days_dim.parquet,record_cnt=1461

,0,1,2,3,4
day_key,20170101,20170102,20170103,20170104,20170105
ordinal,17167,17168,17169,17170,17171
day,1,2,3,4,5
month,1,1,1,1,1
year,2017,2017,2017,2017,2017
dayofweek,6,0,1,2,3
day_name,Sunday,Monday,Tuesday,Wednesday,Thursday
month_name,January,January,January,January,January
days_in_month,31,31,31,31,31
quarter,1,1,1,1,1
dayofyear,1,2,3,4,5
week,52,1,1,1,1
weekday,6,0,1,2,3
weekofyear,52,1,1,1,1
week_id,2017W52,2017W01,2017W01,2017W01,2017W01
is_leap_year,0,0,0,0,0
is_week_start,0,1,0,0,0
is_week_end,1,0,0,0,0
is_month_start,1,0,0,0,0
is_month_end,0,0,0,0,0
is_quarter_start,1,0,0,0,0
is_quarter_end,0,0,0,0,0
is_year_start,1,0,0,0,0
is_year_end,0,0,0,0,0
start_time,2017-01-01T00:00:00,2017-01-02T00:00:00,2017-01-03T00:00:00,2017-01-04T00:00:00,2017-01-05T00:00:00
end_time,2017-01-02T00:00:00,2017-01-03T00:00:00,2017-01-04T00:00:00,2017-01-05T00:00:00,2017-01-06T00:00:00
start_uts_ms,1483228800000,1483315200000,1483401600000,1483488000000,1483574400000
end_uts_ms,1483315200000,1483401600000,1483488000000,1483574400000,1483660800000