In [2]:
%reload_ext autoreload
%autoreload 2

In [1]:
from geoip import geolite2

In [4]:
GEOLIGHT2_DB =

In [9]:
# importing required modules 
ip6 = 'GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv6.csv'
ip4 = 'GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv4.csv'
locs  = 'GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-en.csv'
# opening the zip file in READ mode 
with ZipFile(zip_f, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir() 
    IP4 = pd.read_csv(BytesIO(zip.read(ip4)))
    IP6 = pd.read_csv(BytesIO(zip.read(ip6)))
    LOCS = pd.read_csv(BytesIO(zip.read(locs)))
    # extracting all the files 
    #print('Extracting all the files now...') 
    #zip.extractall() 
    
    print('Done!') 
LOCS = LOCS[LOCS.country_iso_code =='US'].set_index('geoname_id')

File Name                                             Modified             Size
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-zh-CN.csv 2019-10-01 18:11:36      9133303
GeoLite2-City-CSV_20191001/LICENSE.txt         2019-10-01 18:11:38          433
GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv6.csv 2019-10-01 18:11:38     21822822
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-en.csv 2019-10-01 18:11:38     10665004
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-ru.csv 2019-10-01 18:11:38     11952591
GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv4.csv 2019-10-01 18:11:40    199906686
GeoLite2-City-CSV_20191001/COPYRIGHT.txt       2019-10-01 18:11:46           55
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-ja.csv 2019-10-01 18:11:46     12027028
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-es.csv 2019-10-01 18:11:46      8770776
GeoLite2-City-CSV_20191001/README.txt          2019-10-01 18:11:46          116
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-pt-BR.csv 2019-10-01 18:11:46      9052921
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-de.csv 2019-10-01 18:11:48      8557746
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-fr.csv 2019-10-01 18:11:48      9416402
Done!

In [6]:
LOCS.head()

,locale_code,continent_code,continent_name,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone,is_in_european_union
geoname_id,,,,,,,,,,,,,
4046230,en,NaN,North America,US,United States,TX,Texas,NaN,NaN,Cherokee,625.0,America/Chicago,0
4046252,en,NaN,North America,US,United States,TX,Texas,NaN,NaN,Cost,641.0,America/Chicago,0
4046255,en,NaN,North America,US,United States,AL,Alabama,NaN,NaN,Bay Minette,686.0,America/Chicago,0
4046274,en,NaN,North America,US,United States,TX,Texas,NaN,NaN,Edna,618.0,America/Chicago,0
4046294,en,NaN,North America,US,United States,TX,Texas,NaN,NaN,Fischer,641.0,America/Chicago,0

In [41]:
IP6 = IP6[IP6.geoname_id.isin(LOCS.index)].copy()
IP6

,network,geoname_id,registered_country_geoname_id,represented_country_geoname_id,is_anonymous_proxy,is_satellite_provider,postal_code,latitude,longitude,accuracy_radius
0,9c:1e::95:69:9d:41/128,4704203,NaN,NaN,0,0,75770,32.1608,-95.5927,100
1,2000:db8::/32,5332921,NaN,NaN,0,0,93614,37.2502,-119.7513,100
1079,2001:400::/37,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
1080,2001:400:800::/39,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
1081,2001:400:a00::/40,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
...,...,...,...,...,...,...,...,...,...,...
329742,2a0f:104::/30,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
329746,2a0f:300::/30,5551752,6252001.0,NaN,0,0,NaN,33.4532,-112.0749,100
329747,2a0f:304::/31,5551752,2635167.0,NaN,0,0,NaN,33.4532,-112.0749,100
329748,2a0f:306::/31,5551752,6252001.0,NaN,0,0,NaN,33.4532,-112.0749,100
330784,2c0f:f9b8:2::/48,6252001,934292.0,NaN,0,0,NaN,37.7510,-97.8220,100

In [43]:
ip = '24.186.72.123'

IP4 = IP4[IP4.geoname_id.isin(LOCS.index)].copy()
mask = IP4.network.str.startswith(ip[:10])
df = IP4[mask].iloc[0]
ip_info = df.to_dict()
geoname_id = int(ip_info['geoname_id'])
geoname_id

5120741

In [48]:
loc_info = LOCS.loc[geoname_id]
lkup = merge(ip_info, loc_info)
lkup

{'network': '24.186.72.0/21',
 'geoname_id': 5120741.0,
 'registered_country_geoname_id': 6252001.0,
 'represented_country_geoname_id': nan,
 'is_anonymous_proxy': 0,
 'is_satellite_provider': 0,
 'postal_code': '12528',
 'latitude': 41.7167,
 'longitude': -73.9928,
 'accuracy_radius': 5.0,
 'locale_code': 'en',
 'continent_code': nan,
 'continent_name': 'North America',
 'country_iso_code': 'US',
 'country_name': 'United States',
 'subdivision_1_iso_code': 'NY',
 'subdivision_1_name': 'New York',
 'subdivision_2_iso_code': nan,
 'subdivision_2_name': nan,
 'city_name': 'Highland',
 'metro_code': 501.0,
 'time_zone': 'America/New_York',
 'is_in_european_union': 0}

{'locale_code': 'en',
 'continent_code': nan,
 'continent_name': 'North America',
 'country_iso_code': 'US',
 'country_name': 'United States',
 'subdivision_1_iso_code': 'NY',
 'subdivision_1_name': 'New York',
 'subdivision_2_iso_code': nan,
 'subdivision_2_name': nan,
 'city_name': 'Highland',
 'metro_code': 501.0,
 'time_zone': 'America/New_York',
 'is_in_european_union': 0}